/environnementVirtuel/
/app/__pycache__/
/app/database/__pycache__/
/app/models/__pycache__/
/app/routers/__pycache__/
/app/services/__pycache__/
/app/shemas/__pycache__/
/file.py
/job.py
/main.py
/shemas.py
/user.py
/.env
/database.sqlite
uploads/**/*
!uploads/
!uploads/.gitkeep
!uploads/images/
!uploads/images/.gitkeep
!uploads/cv/
!uploads/cv/.gitkeep